body{
    margin:0;
    height: 100%;
    overflow-x: hidden;
}

footer {
    position:absolute;
    width: 100%;
    bottom:0;
    height:80px;
}

hr{
    width: 95%;
    max-width: 100%;
    border-color: #0e0a0a;
    border-width: 2px;
}

.title{
    position:relative;
    top:50%;
}
.btn-bar{
    position:absolute;
    right:30px;
    top:15px;
    margin-left: 10px;
}

.title{
    display:inline-block;
    position:relative;
    top:5px;
    left:30px;
}
label{
    display: block;
    padding-top:10px;
}
span{
    display: inline-block;
    font-weight: bold;
}
input{
    float:right;
}
select{
    float:right;
}
#product_form{
    position:relative;
    display: inline-block;
    left: 30px;
    width: 350px;
}
#cancel-product-btn{
    margin-left:5px;
}
#dvd_form{
    position:relative;
    display:block;
    left:30px;
    display:none;
}
#furniture_form{
    position:relative;
    display:block;
    left:30px;
    display: none;
}
#book_form{
    position:relative;
    display:block;
    left:30px;
    display: none;
}
